In [1]:
#mempersiapkan data
import pandas as pd

df2 = pd.read_csv('bensin2.csv')
df2

    Liter  Penumpang  Bagasi  Kecepatan   RPM  Suhu  Kilometer
0      20          1       0         42  3000    29        142
1      25          2      15         50  4000    36        177
2      20          4      10         50  3000    24        144
3      30          5      25         50  3000    18        203
4      40          1      40         50  3200    30        273
..    ...        ...     ...        ...   ...   ...        ...
60     31          3       0         50  3000    30        203
61     37          1       0         50  3000    22        241
62     23          2      10         50  3000    30        142
63     36          2       0         50  3000    20        241
64     23          1      15         50  3000    30        142

[65 rows x 7 columns]

In [2]:
#menampilkan data statistik dataset
df2.describe()

           Liter  Penumpang     Bagasi  Kecepatan       Suhu   Kilometer
count  65.000000  65.000000  65.000000  65.000000  65.000000   65.000000
mean   26.446154   2.384615   8.538462  49.876923  28.738462  165.307692
std     7.424686   1.558167  13.101857   0.992278   3.378595   68.571113
min     6.000000   1.000000   0.000000  42.000000  18.000000    1.000000
25%    23.000000   1.000000   0.000000  50.000000  29.000000  142.000000
50%    25.000000   2.000000   0.000000  50.000000  30.000000  174.000000
75%    30.000000   4.000000  15.000000  50.000000  30.000000  211.000000
max    45.000000   6.000000  60.000000  50.000000  36.000000  278.000000

In [3]:
#memisahkan training data dan test data
import sklearn.model_selection as ms

X = df2[['Liter','Penumpang','Suhu','Kecepatan']]
y = df2[['Kilometer']]

X_train, X_test, y_train, y_test = ms.train_test_split(X, y, test_size=0.1,random_state=0)
print(X_train.size, X_test.size)

232 28

In [5]:
#melatih model
import sklearn.linear_model as lm

model1 = lm.LinearRegression()
model1.fit(X_train, y_train)

LinearRegression()

In [6]:
#mengeluarkan nilai slope hasil perhitungan
model1.coef_

array([[ 6.54072143,  2.99204736,  2.45423995, -3.21123461]])

In [7]:
#mengeluarkan nilai intercept hasil perhitungan
model1.intercept_

array([71.89241946])

In [ ]:
#sehingga model persamaan
# y = m1x1 + m2x2 + m3x3 + m4x4 + c
# y = (6.540)x1 + (2.992)x2 + (2.454)x3 + (-3.211)x4 + (71.892)

In [8]:
#Menghitung Scoring Model
r2 = model1.score(X_test, y_test)
print(r2)

0.6822990991636206

In [9]:
#Prediksi dengan data input sebagai berikut 30 liter bensin,
# 2 penumpang, suhu 10 derajat dan kecepatan rata-rata 50km/jam
import numpy as np

#X = df2[['Liter','Penumpang','Suhu','Kecepatan']]
data1 = np.array([[30,2,10,50]])
hasil = model1.predict(data1)
print(hasil)

[[138.07882573]]